html,
body {
  background: #fff8f0;
  color: #484848;
  height: 100%;
}

.btn {
  color: white;
  background-color: #c490e4;
  border: 0px;
}

#profileImg:hover {
  cursor: pointer;
}


.addIcon{
  color:#C490E4;
}

.btn.goButton{
  color:white;
  background-color:#C490E4;
}

.buttonRemove:hover {
  cursor: pointer;
}

hr{
    width:70%;
    border-top: 1px solid grey;
  }

i{
 font-size:120%; 
}

.starGroup{
  display:flex;
  flex-direction: row-reverse;
}

.star{
  padding:3px;
}

.starGroup :hover,
.starGroup i:hover ~i{
  color: #FF8D29;
  cursor: pointer;
  
}


.selected{
  color: #FF8D29;
}


#upper-part{
  background-image: linear-gradient(to right,#c490e4,#c471ed, #f64f59);
  height: 35%;
}

#QRimg{
  width:12rem;
  border:solid 1px;
}

h4{
  color: white;
}