html,
body {
  /* background: #fff8f0; */
  color: #484848;
  height: 100%;
}

#upper-part{
    background-image: linear-gradient(to right,#c490e4,#c471ed, #f64f59);
    height: 35%;
}

#profileName{
    color: white;
    margin-bottom:20px;
    text-align: center; 
}

i{
  font-size:120%; 
 }
 
 .starGroup{
   display:flex;
   flex-direction: row-reverse;
 }
 
 .star{
   padding:3px;
 }

 .accountNameText{
  font-size:120%; 
 }

 .open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 300 !important;
}

th{
  font-weight: inherit;
  border-bottom-color: inherit !important;
}
 /* .star1{
   color: #FF8D29;
 } */